@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Source+Sans+Pro");

.container {
  border-radius   : 20px;
  width           : 40%;
  margin          : 0 auto;
  padding         : 20px 30px 10px 30px;
  background-color: #22509b;
  color           : #ffffff;
  line-height     : 0ch;
  display         : grid;
}

.bankNameInfo {
  display        : flex;
  justify-content: flex-end;
  margin-bottom  : 60px;
}

.bankNameInfo, .dateLabel {
  font-family: 'Source Sans Pro', sans-serif;
}

.cardNumberInfo {
  display        : flex;
  justify-content: space-between;
}

.firstNumberInfo {
  display        : flex;
  justify-content: flex-start;
}

.cardNumberInfo, .firstNumberInfo, .expirationDate p, .cardHolderNameInfo p  {
  font-family: 'Cutive Mono', monospace;
}

.expirationDateInfo {
  display        : flex;
  justify-content: center;
}

.dateLabel {
  margin-right: 5px;
}

.bankNameInfo p {
  font-size  : 50px;
  font-weight: bold;
}

.cardNumberInfo p {
  font-size  : 40px;
  font-weight: bold;
}

.expirationDate p{
  font-size  : 25px;
  font-weight: bold;
}

.cardHolderNameInfo p {
  font-size  : 30px;
  font-weight: bold;
}

.firstNumberInfo p {
  font-size: 22px;
}

.dateLabel p {
  font-size: 15px;
}

.cardHolderNameInfo p, .dateLabel p {
  text-transform: uppercase;
}
