body {
  font-family            : "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  border-radius   : 20px;
  display         : grid;
  width           : 60%;
  height          : 80vh;
  margin          : 0 auto;
  padding         : 5px;
  background-color: #0b62ed;
  color           : #ffffff;
  line-height     : 0ch;
}

.bankNameInfo p {
  font-size  : 50px;
  font-weight: 700;
}

.cardNumberInfo p, .expirationDate p, .cardHolderNameInfo p {
  font-size: 30px;
}

.firstNumberInfo p {
  font-size: 20px;
}

.cardHolderNameInfo p, .dateLabel p {
  text-transform: uppercase;
}

.dateLabel p {
  font-size: 20px;
}
