body {
  font-family            : "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  border-radius   : 20px;
  width           : 40%;
  margin          : 0 auto;
  padding         : 40px 30px 10px 30px;
  background-color: #0b62ed;
  color           : #ffffff;
  line-height     : 0ch;
  display         : grid;
}

.bankNameInfo {
  display        : flex;
  justify-content: flex-end;
  margin-bottom  : 20px;
}

.cardNumberInfo {
  display        : flex;
  justify-content: space-between;
}

.firstNumberInfo {
  display        : flex;
  justify-content: flex-start;
}

.expirationDateInfo {
  display        : flex;
  justify-content: center;
}

.dateLabel {
  margin-right: 5px;
}

.bankNameInfo p {
  font-size  : 50px;
  font-weight: bold;
}

.cardNumberInfo p {
  font-size: 40px;
}

.expirationDate p{
  font-size: 25px;
}

.cardHolderNameInfo p {
  font-size: 30px;
}

.firstNumberInfo p, .dateLabel p {
  font-size: 15px;
}

.cardHolderNameInfo p, .dateLabel p {
  text-transform: uppercase;
}
